{% extends 'base.html.twig' %}

{% block title %}Złóż rezerwację{% endblock %}

{% block body_class %}reservation{% endblock %}
{% block body %}
    <h3 class="text-white mb-3">Rezerwacja</h3>
    {{ form_start(form) }}
    <div class="row">
        <div class="col">
            {{ form_row(form.name) }}
        </div>
        <div class="col">
            {{ form_row(form.surname) }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.email) }}
        </div>
        <div class="col">
            {{ form_row(form.phone) }}
        </div>
    </div>

    <div class="form-group row">
        <div class="col">
            {{ form_row(form.dateFrom) }}
        </div>
        <div class="col">
            {{ form_row(form.dateTo) }}
        </div>
    </div>

{#    <div class="form-group row">#}
{#        <h3 class="text-white mt-5 mb-3">Proszę wybrać pokój do wynajęcia</h3>#}
{#        {% set i = 0 %}#}
{#        {% for room in rooms %}#}
{#            <div class="col-4 room">#}
{#                <table class="table">#}
{#                    <tbody>#}
{#                    <tr>#}
{#                        <td>Numer pokoju</td>#}
{#                        <td>{{ room.number }}</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td>Cena za dobę</td>#}
{#                        <td>{{ room.price }} PLN</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td>Typ pokoju</td>#}
{#                        <td>{{ room.type }} pokojowy</td>#}
{#                    </tr>#}
{#                    </tbody>#}
{#                </table>#}
{#                {{ form_row(form.rooms[i]) }}#}
{#                {% set i = i+1 %}#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}

{#    <div class="form-group row">#}
{#        <h3 class="text-white mt-5 mb-3">Potrzebujesz dodatkowych usług? Wybierz z poniższych</h3>#}
{#        {% set i = 0 %}#}
{#        {% for addidtionalResource in addidtionalResources %}#}
{#            <div class="col-4 room">#}
{#                <table class="table">#}
{#                    <tbody>#}
{#                    <tr>#}
{#                        <td>Nazwa</td>#}
{#                        <td>{{ addidtionalResource.name }}</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td>Cena za dobę</td>#}
{#                        <td>{{ addidtionalResource.price }} PLN</td>#}
{#                    </tr>#}
{#                    </tbody>#}
{#                </table>#}
{#                {{ form_row(form.addidtionalResources[i]) }}#}
{#                {% set i = i+1 %}#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}

    <div class="row">
        {{ form_row(form.save) }}
    </div>

    {{ form_end(form) }}
{% endblock %}